RPi.GPIO==0.6.3
satori-rtm-sdk==1.3.0
git+https://github.com/adafruit/Adafruit_Python_DHT#egg=Adafruit_DHT-1.3.2
git+https://github.com/adafruit/Adafruit_Python_GPIO.git#egg=Adafruit_GPIO-1.0.3
git+https://github.com/adafruit/Adafruit_Python_BMP.git#egg=Adafruit_BMP-1.5.2
smbus2==0.2.0

